<div>
    <a href="https://example.com" target="_blank" rel="noopener noreferrer">
        Example Link
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 3h7m0 0v7m0-7L10 14" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10v11a1 1 0 001 1h11a1 1 0 001-1v-5" />
        </svg>
    </a>
</div>