---
export const prerender = false;
import Logo from '../assets/images/navlogo.png';
// @ts-ignore
const user = Astro.locals.user;
---

<header class="bg-neutral-200 relative">
  <nav class="flex items-center justify-between mx-auto px-[5%] md:px-[10%] py-4">
    <div class="z-50">
      <a href="/" class="text-2xl font-semibold text-black hover:text-pink-500">
        <img src={Logo.src} alt="Lady's Fash Blog Logo" class="w-8 h-8" />
      </a>
    </div>

    <div class="md:hidden z-50">
      <button id="menu-btn" class="block focus:outline-none">
        <svg id="hamburger" class="w-8 h-8 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
        <svg id="close-icon" class="w-8 h-8 text-black hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <ul class="hidden md:flex justify-between items-center space-x-8">
      <li><a href="/" class=" font-semibold text-black hover:text-pink-500">Home</a></li>
      <li><a href="/blog" class=" font-semibold text-black hover:text-pink-500">Blog</a></li>
      <li><a href="/aboutus" class=" font-semibold text-black hover:text-pink-500">About Us</a></li>
      { user ? (
        <li><a href="/dashboard" class=" font-semibold text-black hover:text-pink-500">Dashboard</a></li>
      ) : null }
    </ul>

    <ul class="hidden md:flex justify-between items-center space-x-4">
      { user ? <li><a href="/logout" class=" font-semibold text-black">Logout</a></li> : <>
      <li><a href="/login" class=" font-semibold text-black hover:text-pink-500">Login</a></li>
      <li><a href="/signup" class=" font-semibold text-white bg-pink-600 py-2 px-4 rounded-full hover:bg-pink-700">Sign Up</a></li>
      </> }
      
    </ul>

    <div id="mobile-menu" class="fixed inset-0 bg-gray-300 z-40 flex flex-col items-center justify-center space-y-8 md:hidden hidden">
      <a href="/" class="text-2xl font-semibold text-black hover:text-pink-500">Home</a>
      <a href="/blog" class="text-2xl font-semibold text-black hover:text-pink-500">Blog</a>
      <a href="/aboutus" class="text-2xl font-semibold text-black hover:text-pink-500">About Us</a>
      { user ? (
        <>
          <hr class="w-1/2 border-gray-400" />
          <a href="/dashboard" class="text-2xl font-semibold text-black hover:text-pink-500">Dashboard</a>
        </>
      ) : null }
      <!-- <a href="/dashboard" class="text-2xl font-semibold text-black hover:text-pink-500">Dashboard</a> -->
      <hr class="w-1/2 border-gray-400" />
      { user ? <a href="/logout" class="text-2xl font-semibold text-black">Logout</a> : (
        <>
          <a href="/login" class="text-2xl font-semibold text-black hover:text-pink-500">Login</a>
          <a href="/signup" class="text-2xl font-semibold text-white bg-pink-600 py-3 px-10 rounded-full hover:bg-pink-700">Sign Up</a>
        </>
      )}
      <a href="/login" class="text-2xl font-semibold text-black">Login</a>
      <a href="/signup" class="text-2xl font-semibold text-white bg-pink-600 py-3 px-10 rounded-full">Sign Up</a>
    </div>
  </nav>
</header>

<script>
  const btn = document.getElementById('menu-btn');
  const menu = document.getElementById('mobile-menu');
  const hamburger = document.getElementById('hamburger');
  const closeIcon = document.getElementById('close-icon');

  // @ts-ignore
  btn.addEventListener('click', () => {
    // @ts-ignore
    menu.classList.toggle('hidden');
    // @ts-ignore
    hamburger.classList.toggle('hidden');
    // @ts-ignore
    closeIcon.classList.toggle('hidden');
    document.body.classList.toggle('overflow-hidden');
  });
</script>